
#navbox {
    /* background: rgba(153, 207, 5, 0.596); */
    /* border: 1px solid red; */
    /* display: grid;
    justify-content: center;
    align-content: center; */
    margin-inline: 1px;    
    margin-block: 1px;
}
