@import "./nav_style.css";
@import "./menu_button.css";
@import "./article_detail.css"
@import "./miscellaneous.css"

.main{
        display:grid;
        grid-template-columns: 90%;  
        grid-template-rows: auto auto auto auto auto 0.5fr;
        grid-template-areas: 
        "hd"
        "mn"
        "sd"
        "ct"
        "ft"; 
        /* border: 2px solid red; */
        align-content: center;
        justify-content: center;
    }

.article {
        grid-area: ct;
        padding: 10px;
        display: grid;
        grid-template-areas: 
        "mp"
        "card1"
        "card2";
    }
    

@media (min-width:601px) and (max-width:1200px){
    .main{
        display:grid;
        grid-template-columns: 100px repeat(7,1fr);  
        grid-template-rows: 1fr auto 5fr 1fr;
        grid-template-areas: 
        "hd hd hd hd hd hd hd hd"
        "mn mn mn mn mn mn mn mn"
        "sd sd ct ct ct ct ct ct"
        "ft ft ft ft ft ft ft ft"; 
        /* border: 2px solid red; */
       }
    .article {
        grid-area: ct;
        padding: 10px;
        display: grid;
        grid-template-areas: 
        "mp mp"
        "card1 card2";
    }
    

}

@media (min-width:1201px) {
    .main{
        display:grid;
        grid-template-columns: 100px repeat(7,1fr);
        grid-template-rows: 1fr auto 5fr 1fr;
        grid-template-areas: 
        "hd hd hd hd hd hd hd hd"
        "mn mn mn mn mn mn mn mn"
        "sd sd ct ct ct ct ct ct"
        "ft ft ft ft ft ft ft ft"; 
        /* border: 2px solid red; */
       }
    .article {
        grid-area: ct;
        padding: 10px;
        display: grid;
        grid-template-areas: 
        "mp mp"
        "card1 card2";
        }
    
}




.header{
    grid-area: hd;
    display: grid;
    background-image: url(../img/title_back.jpg);
    color: white;
    font-size: 1.3em;
    justify-content: center;
    align-content: center;
}
.nav_bar {
    grid-area: mn;
    display: grid;
    grid-template-columns: auto;
    /* grid-template-columns: repeat(4,1fr); */
    grid-template-rows: 1fr;
    grid-template-areas:
    "home photo blog board";
}


.profile {
    grid-area: sd;
    display: flex;
    flex-direction: column;
}

#article1 {
    grid-area: mp;
    /* border: 1px solid red; */
}


.footer {
    grid-area: ft;
    display: flex;
    flex-direction: row-reverse;

}

.post {
    font-size: 1em;
}

.title {
    font-size: 130%;
    color: blue;
    margin: 10px;
    font-family: sans-serif bold;

}

.detail_post {
    font-size: 1em;
    color: black;
    margin: 20px;
}

.profile_detail {
    font-size: 100%;
}

#profile_top {
    display: grid;
    justify-content: left;
    padding-top: 25px;
}

#profile_box {
    display: grid;
    justify-content: right;
}

